# Email config
EMAIL_HOST_USER=your_sender_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password
EMAIL_RECEIVER=your_receiver_email@gmail.com

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,https://yourfrontend.netlify.app