@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

@theme{
  /* CSS HEX */
    --color-oxford-blue: #0b132bff;
    --color-space-cadet: #1c2541ff;
    --color-yinmn-blue: #3a506bff;
    --color-verdigris: #5bc0beff;
    --color-white: #ffffffff;
}

/* ========== Preloader ========== */
#preloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(6,0,16);
  z-index: 100 !important;
}
#preloader img {
  width: 10.5rem;
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 50%;
  margin-bottom: 1rem;
  animation: breath-in 0.9s infinite linear;
}
@keyframes breath-in {
    0% { transform: scale(0.95); opacity: 0.85; }
    50%{ transform: scale(1); opacity: 1; }
    100% { transform: scale(0.95); opacity: 0.85; }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
body::-webkit-scrollbar{
    display: block;
    width: .35rem;
    background: linear-gradient(120deg, #3a506b ,#1c2541, #3a506b);
}
body::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background: #5bc0be;
}
@media screen and (max-width:768px){
    body::-webkit-scrollbar{
        display: none;
    }
}
