/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */
/* ========== Preloader ========== */
#preloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(6,0,16);
  z-index: 10000 !important;
}
#preloader img {
  width: 12.5rem;
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 50%;
  margin-bottom: 1rem;
}

@theme{
  /* CSS HEX */
    --color-oxford-blue: #0b132bff;
    --color-space-cadet: #1c2541ff;
    --color-yinmn-blue: #3a506bff;
    --color-verdigris: #5bc0beff;
    --color-white: #ffffffff;
}

:root {
  scroll-behavior: smooth;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-family: 'Poppins','system-ui','Arial';
  font-display: swap;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
body::-webkit-scrollbar{
    display: block;
    width: .35rem;
    background: linear-gradient(120deg, #3a506b ,#1c2541, #3a506b);
}
body::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background: #5bc0be;
}
@media screen and (max-width:768px){
    body::-webkit-scrollbar{
        display: none;
    }
}
